---
import { getCollection, type CollectionEntry } from "astro:content";

const faqs: CollectionEntry<"homeFaq">[] = await getCollection("homeFaq");
faqs.sort((a, b) => a.data.order - b.data.order);
---

<section class="faq container" id="faq">
    <h2>FAQ</h2>
    {
        faqs.map((faq) => (
            <details>
                <summary>{faq.data.question}</summary>
                <p>{faq.data.answer}</p>
            </details>
        ))
    }
</section>
